header {
  background-color: #fff;
  padding: 7px;
  .center {
    display: inline-block;
    .logo {
      img {
        width: 200px;
      }
    }
  }
  .right {
    display: inline-block;
    .btn-postea {
      padding: 10px 14px;
      color: #1c2e36;
      font-weight: 600;
    }
  }
}
