.progress {
    position: relative;
    overflow: visible;
    height: 44px;
    margin-top: 42px;
    background-color: #ffffff;
    border: solid 0.3px #A5A5A5;
    margin-bottom: 36px;
    border-radius: 0;
    &.gray-darker {
      height: 34px;
    }

    .progress-bar {
      font-size: 15px;
      color: #fff;
      line-height: 42px;
      text-align: left;
      padding-left: 5px;
    }

    .progress-bar.blue {
      background-color: #4a4a4a;
    }

    .progress-bar.gray-darker {
      background-color: #2b2b2b;
      line-height: 32px;
    }

    .progress-bar.yellow {
      background-color: #f7b617;
    }

    .avg.blue {
      border-left: 3px solid #4990e2;
      position: absolute;
      height: 53px;
      width: 0px;
      bottom: 0px;
    }

    .avg.green {
      border-left: 3px solid #68ad1c;
      top: 0px;
      position: absolute;
      height: 54px;
      width: 0px;
    }

    .avg.yellow {
      border-left: 3px solid #f7b617;
    }

    .avg.green {
      div {
        background-color: #68ad1c;
        color: white;
        top: 52px;
        width: 130px;
        right: 0px !important;
      }
    }

    .avg.blue {
      div {
        background-color: #4990e2;
        color: white;
        right: 0px !important;
      }
    }

    .avg div {
      position: absolute;
      padding: 4px 9px;
      font-size: 13px;
      color: #fff;
      top: -25px;
      width: 95px;
      text-transform: uppercase;
    }
  }

  .progress.yellow {
    border: solid 0.3px #f7b617;
  }
