.tabs{
  margin-top: 21px;
  ul {
    li {
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      padding: 13px 49px;
      background-color: #e1e1e1;
      cursor:pointer;
      font-size: 16px;
    }
    li.react-tabs__tab--selected {
      background-color: #fff;
      border-top: 1px solid #f7b617;
    }
    li:nth-child(even) {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
    }
  }
}
.tab-detalles {
  padding: 21px;
  background-color: #fff;
  box-shadow: 1px 1px 0 1px #e1e1e1;
  margin-bottom: 21px;
  overflow: auto;
  h2 {
    font-size: 28px;
  }
  .sub-content {
    margin-top: 35px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    .tittle {
      font-weight: 800;
      display: inline-block;
    }
    .text-content {
      font-size: 18px;

    }
    .item {
      float: right;
      background-color: #f7f7f7;
      padding: 0px 7px;
      font-weight: 800;
      border-radius: 1px;
      width: 145px;
      justify-content: space-between;
      .icon-flag {
        width: 22px;
      }
    }
  }
}

// responsive

@media only screen and (max-width: 480px) {
  .tabs {
    padding: 0;
    ul.react-tabs__tab-list {
      @include flexbox();
      li {
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        padding: 7px;
        background-color: #e1e1e1;
        cursor: pointer;
        font-size: 12px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-around);
        width: 100%;
      }
      li.react-tabs__tab--selected {
        background-color: #fff;
        border-top: 1px solid #f7b617;
      }
    }
    .tab-detalles {
      .sub-content {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {

}
