/*
  Application Fonts
  ------------------
  Based on laboratoria styleguide use this color in the application, try to keep this list short.
*/


/*
	Yellow
*/
$yellow-darker:               #CB9513 !default;
$yellow-dark:                 #E1A615 !default;
$yellow:                      #F7B617 !default;
$yellow-light:                #F7BC2C !default;
$yellow-lighter:              #F8C341 !default;

/*
	Gray
*/
$gray-darker:               #9E9E9E !default;
$gray-dark:                 #B4B4B4 !default;
$gray:                      #CBCBCB !default;
$gray-light:                #E1E1E1 !default;
$gray-lighter:              #F7F7F7 !default;

/*
	Black
*/
$black-darker:               #242424 !default;
$black-dark:                 #282828 !default;
$black:                      #2B2B2B !default;
$black-light:                #3E3E3E !default;
$black-lighter:              #515151 !default;

/*
	Green
*/
$green-darker:               #68AD1C !default;
$green-dark:                 #73C01E !default;
$green:                      #7ED321 !default;
$green-light:                #89D735 !default;
$green-lighter:              #95DB49 !default;

/*
	Blue
*/
$blue-darker:               #3C76B9 !default;
$blue-dark:                 #4383CE !default;
$blue:                      #4990E2 !default;
$blue-light:                #599AE4 !default;
$blue-lighter:              #6AA4E7 !default;

/*
	Red
*/
$red-darker:               #BE3535 !default;
$red-dark:                 #D33B3B !default;
$red:                      #E84040 !default;
$red-light:                #EA5151 !default;
$red-lighter:              #EC6262 !default;

/*
	White
*/
$white:                     #FFFFFF !default;



