.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
  .container {
      width: 1200px;
      max-width: 100%;
  }
}


@media (min-width: 1200px) {
  .container {
      padding-right: 15px;
      padding-left: 15px;
  }
}


%clearfix:after {
    display:block;
    clear:both;
    content:'';
}
$grid-spacing:14px;

.row {
    @extend %clearfix;

    & + & {
        margin-top:$grid-spacing;
    }
}

[class*="col-"] {
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position: relative;
    min-height: 1px;
    padding-right: 14px;
    padding-left: 14px;

    &:last-child {
        margin-right:0%;
    }
}

$class: col !default;

@for $i from 1 through 12{
  .#{$class}-#{$i}{
    width: ($i / 12) * 100%;
    }
  }
  
